/* ================================================================
PROJECT: Personal Portfolio v1.0
AUTHOR: Pushkar
DATE: 08 February 2026
DESCRIPTION: Main stylesheet containing layout, typography, 
             and component logic.
================================================================
*/

/**
 * TABLE OF CONTENTS:
 * 1. Root Variables (Colors, Spacing, Fonts)
 * 2. Reset & Base Styles
 * 3. Typography
 * 4. Layout (Grid/Flexbox containers)
 * 5. Components (Cards, Buttons, Nav)
 * 6. Animations
 * 7. Media Queries
 */

/* ------- Font ------- */

/* Space Grotesk */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

/* Oldschool Grotesk */
@font-face {
  font-family: "oldschool-grotesk";
  src: url("../../fonts/oldschool-grotesk/500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "oldschool-grotesk";
  src: url("../../fonts/oldschool-grotesk/700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "oldschool-grotesk";
  src: url("../../fonts/oldschool-grotesk/800.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "oldschool-grotesk";
  src: url("../../fonts/oldschool-grotesk/900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* --- 1. Root Variables --- */
:root {
  /* Color Palette: Neon Green & Black Theme */
  --primary-bg: hsl(240, 3%, 7%);
  --secondary-bg: hsl(53, 100%, 97%);
  --accent-color: hsl(71, 100%, 50%); /* Used for links and borders */

  /* Spacing Scale: Maintains vertical rhythm */
  --space-sm: 0.5rem;
  --space-md: 1.5rem;
  --space-lg: 3rem;

  /* ----- Typography ----- */
  /* --- Font families --- */
  --font-oldschool-grotesk:
    "oldschool-grotesk", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;

  --font-cabin:
    "Cabin", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;

  /* Type scale (1.25 ratio) */
  --text-sm: 0.5rem;
  --text-base: 1rem;
  --text-md: 1.5rem;
  --text-lg: 2rem;
  --text-xl: 2.5rem;
  --text-xxl: 3rem;

  /* Line heights */
  --leading-tight: 1.2;
  --leading-normal: 1.6;

  /* Colors */
  --text-green-primary: #d0ff00;
  --text-green-secondary: #d0ff00a7;
  --text-white-primary: #f3f3ec;
  --text-white-secondary: #f3f3eca7;
  --text-black-primary: #141414;
  --text-black-secondary: #111112a7;
}

/* --- 2. Reset & Base Styles --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background: var(--primary-bg);
  font-family: var(--font-cabin);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
p {
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2.5rem; /* Large Hero Header */
  font-weight: 800;
  margin-bottom: var(--space-md, 1.5rem);
}

h2 {
  font-size: 2rem; /* Section Headers */
  font-weight: 700;
  margin-bottom: var(--space-sm, 1rem);
}

h3 {
  font-size: 1.5rem; /* Component/Card Headers */
  font-weight: 600;
}

p {
  font-size: 1rem; /* Body Copy */
  margin-bottom: 1.25rem;
}

ul,
li {
  list-style: none;
}

/* Custom Scrollar */
::-webkit-scrollbar {
  display: none;
}

/* --- 5. Components --- */

/**
 * Header Navigation
 * Used in the "header-navbar" section.
 */
header {
  font-family: var(--font-oldschool-grotesk);
  max-width: 100%;
  color: var(--text-black-primary);
}

h1 {
  text-transform: uppercase;
  font-family: var(--font-oldschool-grotesk);
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  line-height: 0.9;
}

p,
a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;
  user-select: none;
}

/* main container */
.main-container {
  position: relative;
  height: 100vh;
  width: 100%;
  will-change: transform, opacity;
  z-index: 0;
}

section {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--text-white-primary);
  color: var(--text-black-primary);
  padding: 2rem;
}

.hero h1 {
  width: 70%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1rem;
  color: var(--text-white-primary);
  display: flex;
  justify-content: space-between;
  mix-blend-mode: difference;
  z-index: 2;
}

.navbar p {
  font-size: 0.9rem;
  padding: 1rem;
  cursor: pointer;
}

/* .menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background: var(--primary-bg);
  color: var(--text-white-primary);
  z-index: 1;
  will-change: clip-path;
} */

.menu-overlay {
  position: fixed;
  inset: 0;
  background: var(--primary-bg);
  color: var(--text-white-primary);
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */

  overflow: hidden;
}

.menu-overlay {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.menu-content {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  will-change: transform, opacity;
}

.menu-content p {
  font-weight: 900;
}

.menu-col:nth-child(2) {
  text-align: right;
}

.menu-logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  text-align: center;
  font-family: var(--font-oldschool-grotesk);
  font-size: 3.5rem;
  font-weight: 900;
  will-change: transform, opacity;
  color: var(--accent-color);
}

.menu-links-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: max-content;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.menu-link {
  position: relative;
  will-change: transform;
  overflow: hidden;
}

.menu-link a {
  position: relative;
  color: var(--text-white-primary);
  font-family: var(--font-oldschool-grotesk);
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: -0.02rem;
  display: inline-block;
  overflow: hidden;
  margin-bottom: -0.2em;
}

.menu-link a span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}

.link-highlighter {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 0.75rem;
  background-color: var(--accent-color);
  will-change: transform, width;
}

.menu-content {
  z-index: 2;
}
.menu-logo {
  z-index: 2;
}
.menu-links-wrapper {
  z-index: 1;
}

/* .menu-overlay {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
} */

.char {
  position: relative;
  display: inline-block;
  will-change: transform;
}

@media (max-width: 1000px) {
  .hero h1 {
    width: 100%;
    font-size: 4rem;
  }

  .menu-content {
    position: absolute;
    top: 12%;
    transform: translateY(-12%);
  }

  .menu-logo,
  .link-highlighter {
    display: none;
  }

  .menu-links-wrapper {
    flex-direction: column;
    gap: 0;
  }

  .menu-link a {
    font-size: 4rem;
    letter-spacing: 0;
  }
}
